.headerContainer{
    height: 80px;
    background-color: #ce0505;
    padding-left: 0px;
    padding-right: 0px;
    }

.logobg{
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 50%;
    
    margin-top:15px ;
    margin-bottom:13px;
    margin-left:30px;
    display: inline-block;
    text-align: center;
}

.hlogo{
    width: 32px;
    height: 47px;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #eb2929;
    margin-top: -1px;
    margin-left: 14px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.login {
  width: 43px;
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin-left: 28px;
  margin-top: 29px;
  margin-bottom: 28px;
  margin-right: 0px;
}

.createAccountBox{
  width: 154px;
  height: 46px;
  border-radius: 3px;
  border: solid 1px #ffffff;
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 17px;
}

.createAccount{
  width: 152px;
height: 23px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.56;
letter-spacing: normal;
text-align: center;
color: #ffffff;
margin:12px 0px 11px 0px;
}